################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IslamiTexts/FileContentIndex
/.vs/IslamiTexts-MVC/FileContentIndex
/.vs
/DocumentModel/bin/Debug/net7.0
/DocumentModel/obj
/IslamiTextsMVC/bin/Debug/net7.0
/IslamiTextsMVC/obj
/IslamiTextsProcessor/bin/Debug/net7.0
/IslamiTextsProcessor/obj
/Tests.DocumentModel/bin/Debug/net7.0
/Tests.DocumentModel/obj
