body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.arabic-verse {
    font-size: 1.6em;
    font-family: 'Amiri', serif;
    direction: rtl;
    text-align: start;
    line-height: 1.8em;
}

.result-arabic-verse {
    font-size: 1.5em;
    font-family: 'Amiri', serif;
    direction: rtl;
    text-align: start;
    line-height: 2.0em;
}

.arabic-surah {
    font-size: 1.6em;
    font-family: 'Amiri', serif;
    direction: rtl;
    text-align: start;
    line-height: 1.6em;
}

.list-group-item {
    color: black;
}

a.list-group-item{
    color:black;
}

div.results-summary {
    padding-top:10px;
    padding-bottom:15px;
    color:#aa0000;
    font:0.9em Arial;
    font-weight:bold;
}

.verse-result {
}
